.inputText {
  position: relative;
  width: 100%;
  height: 100%;
}
.emptyInput {
  width: calc(100% + 10px) !important;
  border: none;
  outline: none;
  background: none;
  text-indent: 1em;
  position: absolute;
  line-height: 20px;
  padding: 4px;
  padding-right: 10px;
  min-height: 200px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.botBar {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1d1d1d;
  background-color: #000;
}
