* {
  margin: 0;
  padding: 0;
  color: #fff;
}
.ant-notification-notice {
  background: #202020 !important;
  border-radius: 4px;
}
.ant-notification-notice-message {
  color: #fff !important;
}
body {
  overflow: hidden;
}
.ant-notification-notice-message {
  text-align: left !important;
  margin-left: 40px !important;
}
